h1 {
  color: blue;
  font-size: 30px
  text-align: left;
  background-color: black;
}
body {
  background-image: url(https://upload-assets.vice.com/files/2016/01/08/1452278972KilaVaish.gif);

}
p {
  color:blue;
  text-align: left;
  font-size: 17px;
  text-indent: 50px;
  background-color: black
  border: 3px white;
}
