h1 {
  color: darkgreen;
  font-size: 40px;
  text-align: left;
  background-color: black;
}
body {
  background-image: url(https://upload-assets.vice.com/files/2016/01/08/1452278972KilaVaish.gif);

}
p {
  color:blue;
  text-align: left;
  font-size: 17px;
  text-indent: 50px;
  background-color: black;
}
p2 {
  color: purple;
  text-align: left;
  font-size: 17px;
  text-indent: 50px;
  background-color: black;


}
p3 {
  color: maroon;
  text-align: left;
  font-size: 17px;
  text-indent: 50px;
  background-color: black;

}
p4 {
  color:orange;
  text-align: left;
  background-image: url(http://i2.cdn.turner.com/cnnnext/dam/assets/161010004816-ken-bone-debate-exlarge-169.jpg);
}
