h1 {
  color: blue;
  font-size: 28px;
  text-align: left;
  background-color: white;
  border-style: solid;
  border-width: 5px;
  border-color: blue;
}

h2 {
  color: blue;
  font-size: 24px;
  text-align: left;
  background-color: White;
  border-style: solid;
  border-width: 5px;
  border-color: blue;
}

h3 {
  color: blue;
  font-size: 24px;
  text-align: left;
  background-color: White;
  border-style: solid;
  border-width: 5px;
  border-color: blue;
}

body {
  background-color: white;

}

p {
  color:white;
  text-align: center;
  font-size: 17px;
  text-indent: 50px;
  background-color: blue;
}
p2 {
  color: blue;
  text-align: center;
  font-size: 17px;
  text-indent: 100px;
  background-color: white;
  
}
p3 {
  color: blue;
  text-align: center;
  font-size: 17px;
  text-indent: 50px;
  background-color: white;
  
}
p4{
  color: blue;
  text-align: left;
  font-size: 17px;
  text-indent: 50px;
  background-color: white;
  
}
a {
  color: white
  background-color: blue;
}
a1 {
  color: white
}
a2 {
  color: white
}
a3 {
  color: white
}
a4 {
  color: white
}
a5 {
  color: white
}
